/* ===== NAVBAR STYLES ===== */

nav.navbar {
  background-color: #5e6641;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand {
  padding: 0.2rem 0.5rem; /* top/bottom 0.2rem, left/right 0.5rem */
  display: flex;
  align-items: center; /* centra verticalmente */
}
nav.img{
  width: 110px; 
  height: 70px;
  margin-left: 20px;
}


.navbar {
  min-height: auto;
}

.navbar-brand {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.offcanvas {
  background-color: #5e6641;
  color: white;
}

nav .nav-link {
  color: white;
  font-weight: 300;
}