/*  STYLES  GLOBALES */

/* Base HTML y Body */
html,
body {
  height: 100%;
}

body {
  background: url("../img/textura_papel.jpg");
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/* style de formularo  */
.form-control:focus {
  border-color: #6a462d;
  box-shadow: 0 0 0 0.2rem #95a76f;
}

/* button global */
.btn-success {
  background-color: #95a76f;
  border-color: #95a76f;
}

.btn-success:hover {
  background-color: #556038;
  border-color: #556038;
}

.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:focus:active {
  background-color: #556038;
  border-color: #556038;
  box-shadow: none;
}

/* Footer base */
footer {
  display: flexbox;
}