.left-panel {
  background: url("../img/img\ \(1\).jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.login-box {
  width: 100%;
  max-width: 600px;
  background-color: #eeeeee;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box h3 {
  color: #6a462d;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-box a {
  color: #6a462d;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}
