.form-control:focus {
  border-color: #6A462D;
  box-shadow: 0 0 0 0.2rem #95A76F;
}


.btn-success {
  background-color: #95A76F;
  border-color: #95A76F;
}

.btn-success:hover {
  background-color: #556038;
  border-color: #556038;
}

.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:focus:active {
  background-color: #556038;
  border-color: #556038;
  box-shadow: none;
}


.card {
  background-color: #EEEEEE;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


nav.navbar {
  background-color: #656d4a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav.navbar .navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1px;
}

.carousel-item img {
  max-height: 700px;
  object-fit: cover;
}

html,
body {
  height: 100%;
}

body {
  background-color: #EDE0D4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}




.titulo {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Parrafo {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}