/*  CARD STYLES  */

/* Tarjeta principal */
.card {
  background-color: rgba(207, 207, 207, 0.63);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card grande responsiva */
@media (max-width: 768px) {
  body {
    padding-top: 130px;
  }

  .card {
    max-width: 90%;
    margin: 0 auto;
  }

  .card-body {
    padding: 1rem;
  }

  .card img {
    max-height: 150px;
    object-fit: cover;
  }
}

/* Cards de productos */
.cards {
  background-color: rgba(207, 207, 207, 0.63);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  padding: 6%;
}

.cards-img-top {
  max-height: 150px;
  object-fit: cover;
}

@media (max-width: 768px) {
  body {
    padding-top: 130px;
  }

  .cards {
    max-width: 90%;
    margin: 0 auto;

  }

  .cards-body {
    padding: 1rem;
  }

  .cards img {
    max-height: 150px;
    object-fit: cover;
  }

}